* {
    padding:0 ;
    margin: 0;
}

body {
    background-color:rgb(221, 216, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10%;
}

.numeros {
    display: flex;
    justify-content: center;
    margin: 2px;
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px solid rgb(40, 40, 40);
    border-radius: 4px;
    cursor: pointer;
    transform: 0.3;
    height: 50px;
    width: 50px;
    margin: 1px;
}

button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.resultado {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 4px;
    background-color: white;
    color: black;
    height: 40px;
    margin-left: 42.2%;
    margin-right: 42.2%;
    text-align: right;
    font-size: 30px;
}



