:root {
    --cor-fundo : rgb(40,40,40);
    --cor-hover : rgb(150,150,150);
    --cor-primaria : rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul {
    background-color: var(--cor-fundo);
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: var(--cor-primaria); 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: var(--cor-primaria);
    background-color: rgb(20,20,20);
}

.menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul{
    width: 150px;
}

.menu ul ul li a {
    display: block;
} 