<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/cadastro" method="post">

        <label for="nome">Nome</label><br>
        <input type="nome" name="nome_cadastro" id="nome_cadastro" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email_cadastro" id="email_cadastro" required><br><br>

        <label for="senha">Senha</label><br>
        <input type="password" name="senha_cadastro" id="senha_cadastro" required><br><br>

        <button type="submit">Mandar</button>
      </form>
</body>
</html>