<!DOCTYPE html>
<html>
<head>
  <title>Exemplo com EJS</title>
</head>
<body>
  <form action="/login" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email"><br><br>
    <label for="senha">Senha</label><br>
    <input type="password" name="senha" id="senha"><br><br>
    <button type="submit">Mandar</button>
  </form>
</body>
</html>
